extends layout

block content
  //h1 WELCOME to #{title}
  #cover
    img(src="/images/quad.jpg")
    .container
        #cover-info
            h1 WELCOME to #{title}         
            p Say goodbye to Craigslist and Facebook groups and start easily finding a place to live on one easy to use website!