extends layout

block content
	.login-form
		h3 Login
		form(action='/login', method='POST', role='form')
			.form-group
				label(for='email') Email address
				input(id='email', type='text', name='email', class='form-control')
			.form-group
				label(for='password') Password		
				input(id='password', type='password', name='password', class='form-control')
			button(type='submit' class='btn btn-primary') Submit
		#errors
			if errors.length > 0
				each error in errors
					p #{error}