script(src='/javascripts/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='/javascripts/bootstrap-select.min.js')
script.
	$(document).ready(function() {
		$('.selectpicker').selectpicker();
	});