extends layout

block content
	.login-form
		h3 Signup
		form(action='/signup', method='POST', role='form')
			.form-group
				label(for='firstname') First Name		
				input(id='firstname', type='text', name='firstname', class='form-control')
			.form-group
				label(for='lastname') Last Name		
				input(id='lastname', type='text', name='lastname', class='form-control')
			.form-group
				label(for='email') Email address
				input(id='email', type='text', name='email', class='form-control')
			.form-group
				label(for='password') Password		
				input(id='password', type='password', name='password', class='form-control')
			.form-group
				label(for='confirmpassword') Confirm Password		
				input(id='confirmpassword', type='password', name='confirmpassword', class='form-control')
			button(type='submit' class='btn btn-primary') Submit
		//- form(action='/signup', method='POST')
		//- 	paper-input(label='First Name', name='firstname', floatingLabel)
		//- 	paper-input(label='Last Name', name='lastname', floatingLabel)
		//- 	paper-input(label='Email Adress', type='email', name='email', floatingLabel)
		//- 	paper-input(label='Password', type='password' name='password', floatingLabel)
		//- 	paper-input(label='Confirm Password', type='password', name='confirmpassword', floatingLabel)
		if errors.length > 0
			div(class='alert alert-danger' role='alert')
				each error in errors
					p #{error}